.bgImg{
    background-image: url(/images/bg-masthead.jpg);
}
.navBar{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}
.logo{
    width: 6vw;
}
.divTable{
    width: 90vw;
}
.navText{
    padding: 5px;
    text-decoration: none;
}
.navContent{
    text-decoration: none;
    padding-top: 14;
    padding-bottom: 14;
    padding-left: 1;
    padding-right: 1;
}
.navContent:hover{
    background-color: #08D9D2;
    color: black;
   
}
ul.ulnav{
    border-radius: 1px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    color: white;
}
li.linav{
    display: block; 
    color: #fafffa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
}