.bgImg{
    background-image: url(/images/bg-masthead\ copy.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.navFix{
    height: 6vh;
}
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }